SECRET_KEY=django-insecure-vei2j@cks(wi+x%s*dj)y*$upd&-=e76mb7)@#u*te4_$@g_lb
DEBUG=True
API_KEY=sk_test_.....
PUBLISHABLE_KEY=pk_test_.....
DB_PORT=5432
DB_HOST=database
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass