<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy now {{ item.name }}</title>
</head>
<body>
    <h1>{{ item.name }}</h1>#}
    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      const stripe = Stripe("{{ publishable_key }}");
      const buyButton = document.getElementById("buy-button");
      buyButton.addEventListener("click", function() {
        fetch('/buy/{{ item.pk }}', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
      });
    </script>
</body>
</html>